	<?xml version="1.0" encoding="UTF-8"?>
	<plugin xmlns="http://apache.org/cordova/ns/plugins/1.0"
			xmlns:android="http://schemas.android.com/apk/res/android"
			id="com.sanda.plugins.VideoCompressor"
			version="0.0.1">

	  <name>VideoCompressor</name>

	  <description>
		VideoCompressor Plugin 
	  </description>

	  <license>Sanda</license>

		

	  <engines>
		<engine name="cordova" version=">=3.0.0"/>
	  </engines>

		<js-module src="www/VideoCompressor.js" name="VideoCompressor">
				<clobbers target="window.plugins.VideoCompressor" />
			 </js-module>
	 
	 
	  <!-- android -->
	  <platform name="android">

		<config-file target="res/xml/config.xml" parent="/*">
		  <feature name="VideoCompressor">
			<param name="android-package" value="com.sanda.plugins.VideoCompressor" />
		  </feature>
		</config-file>

		<source-file src="src/android/com/sanda/plugins/VideoCompressor/VideoCompressor.java" target-dir="src/com/sanda/plugins/VideoCompressor"/>
			<config-file target="AndroidManifest.xml" parent="/manifest">
				<uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
				<uses-permission android:name="android.permission.WAKE_LOCK" /> 
			</config-file>

			<config-file target="AndroidManifest.xml" parent="/manifest/application">
            <activity
                    android:name="com.sanda.plugins.VideoCompressor.VideoCompressor"
                    android:finishOnTaskLaunch="true"
                    android:launchMode="singleInstance"
                    android:noHistory="true"
                    >
                <intent-filter>
                    
                </intent-filter>
               
            </activity>
			

        </config-file>

		 <source-file src="libs/ffmpeg4android_os.jar" target-dir="libs" framework="true"/>
		  <source-file src="libs/android-support-v4.jar" target-dir="libs" framework="true"/>
		
	  </platform>

	</plugin>
